[2022-04-20 13:35] nigelonius opened #1 "Play & Skip Icons not Displayed"
For Some reason the play/pause & rewind/skip icons are not showing. I installed from Spicetify Market place.
![image](https://user-images.githubusercontent.com/87260000/164242476-6fa9c53f-6795-4fe6-aa0a-cf26dd519d49.png)

[2022-04-20 15:41] nimsandu commented on #1
sir sorry to hear that
do you still have the same issue
if you have try resetting marketplace and running this command on powershell
####

Invoke-WebRequest -UseBasicParsing "https://github.com/spicetify/spicetify-themes/blob/a3963f9c51bb1d223e0b2609541d572f7550d1c8/Bloom/install.ps1" | Invoke-Expression

#####

[2022-04-21 06:29] Satanarious opened #2 "Installation Script (Windows) wrong path"
What is posted:
`Invoke-WebRequest -UseBasicParsing "https://raw.githubusercontent.com/nimsandu/spicetify-bloom/install.ps1" | Invoke-Expression`

What should be posted:
`Invoke-WebRequest -UseBasicParsing "https://raw.githubusercontent.com/nimsandu/spicetify-bloom/main/install.ps1" | Invoke-Expression`

[2022-04-21 06:31] nigelonius commented on #1
I ended up sorting it out 😊From: Nimsandu KottageSent: 20 April 2022 17:41To: nimsandu/spicetify-bloomCc: Nigelonius; State changeSubject: Re: [nimsandu/spicetify-bloom] Play & Skip Icons not Displayed (Issue #1) sir sorry to hear thatdo you still have the same issueif you have try resetting marketplace and running this command on powershellInvoke-WebRequest -UseBasicParsing "https://github.com/sp

[2022-04-21 16:40] nimsandu commented on #2
sorry sir

[2022-04-21 16:40] #2 closed

[2022-04-23 00:58] Khotyz opened #3 "song name problems"
hello, I really liked your theme, but when installing it, the name of the song is outside of where it should be, how can I correct it? I have already inserted the patch line in the config and nothing has changed, including the version I installed from the market the skip and play buttons did not appear, the command line worked normally but with this bug :/, thank you in advance ^^

Pic:
![image](h

[2022-04-24 07:11] nimsandu commented on #3
I'm sorry to hear that sir
you might install the theme using marketplace
plz reset the marketplace by clicking settings icon on marketplace>scroll all the way down and click [reset marketplace]
And run following command
### Windows (PowerShell)

[code]

this must fix that

[2022-04-24 21:59] Khotyz commented on #3
hello, thanks for the answer, it solved my problem, but two others appeared, the first is that the bottom bar where the player is is rising whenever I scroll down in spotify, and the second is that a kind of stain appears on the side where is the name of the song, if there's no way to solve it, I'd appreciate it anyway since my problem with the name of the songs was solved ^^

Pic:
![image](https:

[2022-04-25 04:37] nimsandu commented on #3
Its a bug sir apologize me
Ill try fixing that asap

The scrolling problem occurred due to th blurred now player

After fixing those issues ill let you know

[2022-04-25 04:39] nimsandu commented on #3
All this questions appeared on your device cuz your huge monitor

And I created this using my 13 inch display

Plz apologize me

[2022-04-25 19:08] Khotyz commented on #3
Ok, I'll wait then, thanks for helping me with the first problem and thanks for the beautiful theme ^^

[2022-04-26 12:26] nimsandu commented on #3
Thanx for your patience sir
Ill let you know when bug fixed

[2022-04-26 21:11] tonytkachenko commented on #3
Hey
Thanks for this cool theme! I really love it ❤️

Please pay attention to the broken menu view :)
![Image 001](https://user-images.githubusercontent.com/103267335/165393105-4b9ac621-981e-41fa-a0ad-91ae986c7b2f.png)

[2022-04-28 06:33] nigelonius commented on #3
OMG Fluent theme is doing the same thing since ver 1.1.83, I actually wanted to download bloom as an alternative but looks like the issue carried over to this theme too. Which is a shame because I have tried every theme and aesthetically, Fluent & Bloom are the best. I hope they fix this soon. Also, is there a white version of Bloom ,like there is in Fluent?

[2022-04-29 13:57] nimsandu commented on #3
There is a light theme
But dark one is slightly better
This bloom theme is developed associated with @williamckha who developed fluent theme
And both themes are the same JavaScript base thats why those issues occur in both themes. We both will work together to resolve all issues

[2022-05-10 18:32] PINPAL commented on #3
Also experiencing the same thing on the latest version of Spotify.

**Noteable Issues on Latest Update**
 - Playlists are also not showing their cover art and instead display their name on the sidebar (see screenshot)
 - There is extra padding on the body and this creates scrollbars that allow you to scroll too far to the left or too far down forcing content off the screen
 - Numerous "fade out" e

[2022-05-10 19:28] PINPAL commented on #3
Update on this, I have created a pull request to fix all the above issues

[Link to Pull #4](https://github.com/nimsandu/spicetify-bloom/pull/4)

[2022-05-12 06:49] nimsandu commented on #3
thanx sir

[2022-05-12 06:49] #3 closed

[2022-05-12 19:30] SakethKanchi opened #7 "Playlists no visible"
![image](https://user-images.githubusercontent.com/70198692/168153587-98a87607-b879-4cc6-86d9-693ae3d7d913.png)

[2022-05-14 00:34] 14142000 opened #8 "Song Name loses blurred background around it"
Around the song name there's a distortion of the blur effect that is  extremely distracting
![image](https://user-images.githubusercontent.com/3375830/168403991-c31a2ef1-26e1-4a45-86ef-09c6929b0cf2.png)

[2022-05-14 06:49] Ashesh3 commented on #7
Having the same issue here

[2022-05-15 11:08] nimsandu commented on #7
with the release of Spotify for Windows 1.1.84.716.gc5f8b819 we are having some issues
such as the playlist should be like this
![image](https://user-images.githubusercontent.com/57834844/168469619-c6749992-39cb-44b2-ad69-63ca0cb498e0.png)

and we will try our best to resolve the issue

[2022-05-15 11:10] nimsandu commented on #8
yah that one is completely distracting
but sorry i have a problem over here
![image](https://user-images.githubusercontent.com/57834844/168469701-9c7c90fd-879a-424f-8f66-ea56f5148a3e.png)

my spotify is not even loading and i am hoping for a helping hand

[2022-05-15 11:13] nimsandu commented on #8
hello reinstall the theme again now and you will be good to go
with out distracting

[2022-05-15 21:05] SakethKanchi commented on #7
Can you mention the versions of Spicetify and Spotify where the theme is working properly?

[2022-05-17 04:26] SapitoSucio opened #9 "Mica/Blur effect looking weird"
Hello there, first of all this theme is amazing, I love it.

After using it a bit, I couldn't help but notice that the mica/blurry effect looks a little bit weird

Moving slowly through some elements you can see how it behaves and it just looks weird to me, maybe too much flickering?

https://user-images.githubusercontent.com/7357354/168728633-69cd8cfb-6699-4bc9-a6b9-4e2c332a0513.mp4

.

[2022-05-17 19:42] rojnwa opened #10 "Slider position dot twice rendered"
Hey, first things first: your theme looks great! Thanks for creating it.
Ugly part now: for every slider (song position, volume) the dot, marking the position, is being rendered twice. once at the correct position and once directly beneath it.

spicetify version: 2.9.8
spotify version: 1.1.85.895.g2a71e1b8 (windows)

![image](https://user-images.githubusercontent.com/19150352/168895374-38527ed1-cb

[2022-05-17 21:04] 14142000 commented on #8
This update broke the alignment of the sidebar
![image](https://user-images.githubusercontent.com/3375830/168909965-3c12498c-3b64-4358-bbc9-0e3b2b84d2a4.png)

[2022-05-19 22:27] Briiqn opened #11 "Installation Script Doesn't Work With GNU + Linux"

[2022-05-21 13:15] leonardodafishy opened #12 "Scrollbar does not end properly on the bottom part of the pages"
ISSUE: Whenever I scroll to the bottom most part of the page, the media bar is blocking the bottom portion and does not let me see through.

IMAGE:
![image](https://user-images.githubusercontent.com/70272939/169653130-6f964ec6-89c0-45d7-94ea-38c665c10919.png)
![image](https://user-images.githubusercontent.com/70272939/169653263-ca5a38d9-0cdb-484f-806e-dc83bc92429d.png)

[2022-05-22 14:33] stpnwf commented on #12
Yeah, this is not a problem until it _really_ is a problem.
The mobile app has the same floating media bar and it avoids this issue by adding empty space at the bottom of pages. Perhaps the same can be done in bloom to avoid this issue.

[2022-05-22 14:42] stpnwf commented on #11
I had to install it manually. The script has many issues, from referencing `fluent.js` rather than `bloom.js`
to trying to extract files to `~/spicetify-cli` rather than `~/.config/spicetify`

[2022-05-23 01:07] stpnwf opened #13 "Issues + suggestions"
I am loving this theme. Simply gorgeous. Keep up the good work.

## Found some issues:

<details>
    <summary>1. Toggles are all the same color.</summary>
<img src="https://user-images.githubusercontent.com/81482539/169701493-1fe78038-6009-4967-a923-a5314f92bb10.png" width="300">
</details>

<details>
    <summary>2. Playlists names are shown in sidebar instead of cover images</summary>
<img src=

[2022-05-26 06:54] oscaly commented on #7
I have this issue as well. Also can't adjust the size of the side bars.

[2022-05-27 13:31] Manasroxx commented on #7
Can i get a 1.1.83 spotify version

[2022-05-28 15:49] nimsandu commented on #9
i recognized that too
lets try fixing that in the near future

[2022-05-28 15:50] nimsandu commented on #12
@stpnwf thanx
lets see what can we do

[2022-05-28 15:51] nimsandu commented on #13
your suggestions makes it better for us!

[2022-05-28 15:52] nimsandu commented on #11
can you fix that and create a PR
plz

[2022-05-28 15:53] nimsandu commented on #10
you have to completely uninstall

and try installing again
that must fix it

[2022-05-28 15:54] nimsandu commented on #8
hmm
problem after problem right?
lets see what we can do

[2022-05-28 15:55] nimsandu commented on #7
@Manasroxx try updating to spicetify 2.10
that might work

[2022-05-28 16:11] pronoy2108 opened #14 "Spotify doesn't work after applying theme"
![image](https://user-images.githubusercontent.com/83197609/170833514-8d3aae6b-7fd1-4996-9010-cd1366d952cc.png)

[2022-05-28 16:11] pronoy2108 commented on #11
Maybe try wget instead of curl/

[2022-05-29 07:24] nimsandu commented on #14
that's not a theme related bug @pronoy2108 even i experienced that in the past
![image](https://user-images.githubusercontent.com/57834844/170856933-c24561d9-445c-4a6e-8ef9-93bd94dcf1bf.png)
what you need to do is completely remove Spotify and bloom theme
and run this command to update spicetify
[code]
and re install the theme using this command
[code]

[2022-05-29 07:25] #14 closed

[2022-05-30 04:50] pronoy2108 opened #15 "Volume bar and progress bar look weird"
![image](https://user-images.githubusercontent.com/83197609/170919172-bad3e046-6493-43fe-a5b3-2114c12b8706.png)

* Media controls menu also appears in settings

* Blur in spicetify-marketplace

[2022-05-31 19:13] 14142000 commented on #8
I have learned like life itself anything you program will always be a work in progress as well lol

[2022-06-02 08:55] nimsandu commented on #8
❤️

[2022-06-02 08:56] lemonbigbig opened #16 "Theme is broken in latest Spotify"
![image](https://user-images.githubusercontent.com/42226640/171589431-0d8500a4-79d2-4a83-ae77-eba4c54f8e51.png)
![image](https://user-images.githubusercontent.com/42226640/171589531-c9d8fea7-0e4d-48e1-aeca-2f116b1d3972.png)
![image](https://user-images.githubusercontent.com/42226640/171590546-8ae14fb6-c7b3-4b4f-a8de-157f7a6a2449.png)
![image](https://user-images.githubusercontent.com/42226640/1715

[2022-06-02 09:16] nimsandu commented on #16
can you mention your spicetify version
if its below 2.10
 updating spicetify must fix the issue

[2022-06-02 09:18] nimsandu commented on #15
can you send a picture of your "C:\Users\#username#\.spicetify\config-xpui.ini"

[2022-06-02 09:24] lemonbigbig commented on #16
I am currently using spicetfiy version 2.10.1 and Spotify 1.86

[2022-06-02 09:51] nimsandu commented on #16
oh!
lets see what we can do to fix that

[2022-06-02 15:54] lemonbigbig commented on #16
`spicetify config color_scheme light`

[2022-06-02 18:00] serycoola commented on #16
Hi @lemonbigbig what did you change in the CSS to fix the transparency and the buttons? I am having the same issue for the past few days and didn't manage to fix anything. I found that there are 2 classes which upon removal restores the default Spotify buttons, but whatever I tried, I couldn't get the themed buttons to work. And neither was I able to fix the transparency. Do you use the version of

[2022-06-02 18:33] PushaG commented on #16
What other bugs are there? it looks fine from pictures you uploaded.BTW will you be pushing it soon?

[2022-06-02 20:16] Sgpilozo commented on #16
Excuse me, what did you change to fix it? I have the same problem

[2022-06-03 00:42] lemonbigbig commented on #16
![image](https://user-images.githubusercontent.com/42226640/171762526-4bdc4966-81fc-4541-b5a9-ddf1a86df035.png)
![image](https://user-images.githubusercontent.com/42226640/171762631-97e24e40-5594-48e3-bc7a-a0ed23686cb4.png)

The lyrics pages will scroll the whole pages when song is playing, The position of the pages will reversed when next song is played.

[2022-06-03 02:37] Sgpilozo commented on #16
Thank you

[2022-06-03 06:28] pronoy2108 commented on #15
Sure,
[code]

[2022-06-03 15:45] nimsandu commented on #15
Gotcha![image](https://user-images.githubusercontent.com/57834844/171895952-84b83237-4a15-4852-922e-dd119eca2703.jpeg)
Remove this completely #fluent.js|

And run
'''
Spicetify update
'''

'''
Spicetify apply
'''
Separately
This must fix the issue
Cuz both fluent and bloom themes are the same as both me and fluent developer worked together to make this theme (mostly wilyamakha's work)
Thats this h

[2022-06-03 16:51] ps13g commented on #16
My version is completely unusable
<img width="1512" alt="Screen Shot 2022-06-03 at 10 49 20 AM" src="https://user-images.githubusercontent.com/84423124/171909871-048cc7ee-9da5-4b1b-bcb9-a7222ac9aba8.png">

Im running 1.1.86.857.g3751ee08 and 2.10.1

[2022-06-03 16:54] ps13g commented on #16
I just fixed it but the album art is still off to the side

[2022-06-03 17:07] lemonbigbig commented on #16
I also looking a way to sloved that.发件人: ps13g ***@***.***>发送时间: 2022年6月4日星期六 00:55收件人: spicetify-bloom ***@***.***>抄送: me ***@***.***>; mention ***@***.***>主题: Re: [nimsandu/spicetify-bloom] Theme is broken in latest Spotify (Issue #16)

Im running 1.1.86.857.g3751ee08 and 2.10.1

I just fixed it but the album art is still off to the side

—Reply to this email directly, view it on GitHub, or unsu

[2022-06-03 17:07] lemonbigbig commented on #16
I also looking a way to sloved that.

[2022-06-04 09:49] Basic6969 opened #18 "Things are hidden under play bar and also cant see playlist names."
![image](https://user-images.githubusercontent.com/98833613/171994143-be1979d3-debf-4857-95a8-546778319536.png)

[2022-06-04 16:38] kaname-png opened #19 "The "About" section on an artist's page appears incomplete."
When you view an artist's page and scroll to the bottom to see the "About" section you can see how that section is incomplete because the playback bar is above it.

![Spotify Premium 04_06_2022 10_37_22 a  m](https://user-images.githubusercontent.com/56084970/172016760-206ced5c-0e57-4faf-9504-12674a9e2f35.png)

[2022-06-05 02:07] nimsandu commented on #18
I can fix than but it will effect for the blurry effect

[2022-06-05 02:09] nimsandu commented on #19
That is a fixable issue but it will prevent player bar blur effect

[2022-06-05 07:19] Basic6969 commented on #18
any way to keep the mica effect and also make the things above it not below and also what abt play list names.
and original theme dont seem to work ur only works for now (talking abt fluent theme)

[2022-06-05 08:28] oscaly commented on #7
Not sure if this has been solved yet. I still cannot adjust side bars or use playlist icons.

[2022-06-06 03:40] HuyHung1408 opened #20 "Font isn't the same with sidebar's items"
![image](https://user-images.githubusercontent.com/86362423/172090795-34b68589-d1b1-42af-a0ad-ace9717373c2.png)

[2022-06-06 07:28] HuyHung1408 commented on #7
![image](https://user-images.githubusercontent.com/86362423/172115513-22678ce0-6300-444f-965c-d1dc2c3fc321.png)

Same here,
version = 1.1.86.857.g3751ee08
with    = 2.10.1

[2022-06-06 17:38] lemonbigbig commented on #16
expanded cover issue has been fixed in #21

[2022-06-08 04:10] lemonbigbig commented on #19
![image](https://user-images.githubusercontent.com/42226640/172529721-af0e251b-1709-47e0-bf49-3817707402a2.png)
I make some change to fix it.

[2022-06-13 16:40] nimsandu commented on #20
The lyric option is not mapped with spicetify css map so we have to wait until the fix that issue

[2022-06-13 16:44] #16 closed

[2022-06-13 17:38] stpnwf commented on #11
Will give it a try.

Yeah, I tried wget but I couldn't get it to rename the download file for some reason. I will try it again without renaming.

[2022-06-14 08:04] MGPlayzYT opened #24 "Song stream count is misaligned"
The song stream count seems to be misaligned, as you can see in the image.
![image](https://user-images.githubusercontent.com/51394649/173525949-b4e25ad8-fd7a-46ae-87a3-76799f041ec6.png)

[2022-06-14 14:11] lemonbigbig commented on #24
![image](https://user-images.githubusercontent.com/42226640/173598180-22be610e-d358-47b5-892e-cb7cc420ccf2.png)

[2022-06-15 08:09] MGPlayzYT commented on #24
The fix seems to have conflicted with other things
![image](https://user-images.githubusercontent.com/51394649/173776585-5712e3fb-6d14-4954-8bde-04d104fbf009.png)

[2022-06-16 10:35] l29 opened #26 "Playlist Scroll in the empty"
![image](https://user-images.githubusercontent.com/83277314/174051803-43085799-bca2-45b7-bd5b-bf0e195e1f0a.png)

You can scroll in the playlist section until no playlist is visible anymore. I dont know if this is related to the other problem i have #7 that doesnt show the full playlist name.

spicetify version:  2.10.1 which is currently the newest version
spotify verion: Spotify for Windows 1.1.8

[2022-06-16 11:52] hapatapa opened #27 "Playlist text and not image"
![image](https://user-images.githubusercontent.com/68708992/174063864-cb9e311c-351b-4556-8212-605fe0aa5648.png)
Could anyone give me your config-xpui.ini file pls?

[2022-06-16 12:21] lemonbigbig commented on #27
problem is fixed in #25   but not merge yet

![](https://user-images.githubusercontent.com/42226640/173617608-29fad95c-f52a-491a-885a-b9ec87bd745b.png)

[2022-06-16 12:24] nimsandu commented on #27
@lemonbigbig Sorry brother i was busy thanx for the fix

[2022-06-16 12:28] nimsandu commented on #7
Fixed by @lemonbigbig

[2022-06-16 12:29] #10 closed

[2022-06-16 12:29] #11 closed

[2022-06-16 12:30] #15 closed

[2022-06-16 12:32] nimsandu commented on #24
@lemonbigbig thanx and sorry for the late

[2022-06-16 22:00] #26 closed, assigned to nobody

[2022-06-16 22:29] l29 opened #29 "Full Screen Mode make screen white"
If you go into the Full Screen mode the background image get more white.
![image](https://user-images.githubusercontent.com/83277314/174188422-e72ae69f-a5ed-4985-9112-1ea313d5bac2.png)

[2022-06-18 07:15] nimsandu commented on #29
Are you using a plug-in from marketplace?

[2022-06-18 07:15] #27 closed

[2022-06-18 07:16] #24 closed

[2022-06-18 07:17] nimsandu commented on #19
Again issues fixed by @lemonbigbig

[2022-06-18 07:17] #19 closed

[2022-06-18 07:19] nimsandu commented on #18
Fixed by @lemonbigbig

[2022-06-18 07:20] nimsandu commented on #18
Fluent theme don't have blurry effect on player so its player bar won't hide things under it

[2022-06-18 07:21] #18 closed

[2022-06-18 07:22] nimsandu commented on #12
Fixed in latest version

[2022-06-18 07:22] #12 closed

[2022-06-18 07:22] nimsandu commented on #9
Fixed in the latest version

[2022-06-18 07:50] nimsandu commented on #9
Thanx for your amazing trust and patience

[2022-06-18 07:50] #9 closed

[2022-06-18 07:52] nimsandu commented on #8
Your problems are now solved
Im closing this issue
But create new one whenever you find a new one @14142000

[2022-06-18 07:52] #8 closed

[2022-06-19 08:14] Vathanak7 opened #30 "Missing previous and next buttons"
Spotify for Windows
1.1.87.612.gf8d110e2

https://i.imgur.com/PFquVym.png

[2022-06-19 14:20] HuyHung1408 commented on #30
![image](https://user-images.githubusercontent.com/86362423/174485649-756a329e-9857-4fbb-a136-e9d730f9c1ef.png)
Spotify 1.1.87, all fine

[2022-06-19 15:51] nimsandu commented on #30
you have to re install the latest version

[2022-06-19 17:58] akashirai commented on #30
![image](https://user-images.githubusercontent.com/107809851/174494204-a262e1ad-4c0d-4154-a17c-b54fde53a1a3.png)

encountering the same issue after reinstalling (on latest spicetify version as well)

[2022-06-20 02:45] HuyHung1408 commented on #30
![image](https://user-images.githubusercontent.com/86362423/174516047-06fc1ea3-1a36-4071-8cb3-669a6ca13c58.png)

Make sure that bloom is the only theme in the config-xpui file. Other theme may cause the issue

[2022-06-20 02:53] HuyHung1408 commented on #30
![image](https://user-images.githubusercontent.com/86362423/174516865-d4b5915f-4276-4b08-a357-a43597c2d741.png)
Also bloom theme shows wrong icon for lyrics plus

[2022-06-20 13:04] l29 opened #31 "Play/Pause Button on Playlist Top"
If you on Top of the Playlist Page:
![image](https://user-images.githubusercontent.com/83277314/174607830-82e71001-0c68-4358-85e6-ebac4b0dead7.png)

If you scroll down:
![image](https://user-images.githubusercontent.com/83277314/174607869-07604eda-3ba3-4fd8-9300-650cd071f821.png)

[2022-06-23 00:12] teidesu opened #32 "Install script for bash has DOS line endings"
Basically the title. Because of that shell doesn't correctly process it and it doesn't work:

[code]

Side note: the script doesn't work at all on macOS, there are numerous errors with it

[2022-06-24 06:48] nimsandu commented on #32
can you kindly give me a hand to fix that
I actually don't know about shell scripts
@teidesu please 🥲

[2022-06-24 06:51] nimsandu commented on #32
please @teidesu 🥺

[2022-06-24 06:58] nimsandu commented on #31
you are talking about the difference right?

[2022-06-24 06:59] nimsandu commented on #31
if you are which color would you prefer?
@v6r

[2022-06-24 07:02] nimsandu commented on #30
im not talking about spicetify version @akashirai could you please delete the whole theme and re install it by following script
[code]

[2022-06-24 07:26] HuyHung1408 opened #33 "Wrong icon for Lyrics Plus"
![Animation](https://user-images.githubusercontent.com/86362423/175485000-f1e2cbca-1fb2-4e32-8b2c-44e82f123125.gif)

[2022-06-24 07:42] nimsandu commented on #33
We are going to fix it @HuyHung1408 please be patient

[2022-06-24 07:43] nimsandu commented on #30
????

[2022-06-24 07:43] HuyHung1408 commented on #33
Thanks

[2022-06-24 07:44] nimsandu commented on #30
Have you Deleted bloom theme folder completely?

[2022-06-24 07:44] nimsandu commented on #30
We have fixed it in latest bloom-theme version

[2022-06-24 15:21] HuyHung1408 commented on #30
yup I did

[2022-06-24 15:42] Vathanak7 commented on #30
Latest Spotify version on Windows 11. Reinstalled everything, still have the same problem.

https://i.imgur.com/x5BNIQg.png

[2022-06-24 20:57] akashirai commented on #30
After doing some cross-reference and research, I noticed that the latest version of bloom was missing .main-SkipForwardButton and .main-skipBackButton.

Note: This was done on Windows 10, latest spicetify version, and 1.1.87 for spotify. This resolved the issue for me, but I went into user.css for bloom, I entered the following code below .player-controls__buttons button {
  padding-left: 20px;

[2022-06-25 09:48] Bac3D opened #35 "Toastify breaking playlist bar."
When i open spotify using toastify it breaks the playlist sidebar.
https://youtu.be/78IbZg1W6bw

[2022-06-25 10:45] nimsandu commented on #31
Above play button is a feature by Spotify @v6r so we let it to be

[2022-06-25 10:48] nimsandu commented on #35
Oh we never tested it with tostify

[2022-06-25 10:48] nimsandu commented on #35
Lets try something and let you know what to do

[2022-06-25 10:51] nimsandu commented on #30
@akashirai i merged your humble fix

Thanx
Im closing this issue

[2022-06-25 10:51] #30 closed

[2022-06-25 10:57] Bac3D commented on #35
Ok

[2022-06-25 19:34] #31 closed, assigned to nobody

[2022-06-26 18:42] Astromations commented on #35
what spotify and spicetify version are you using in that

[2022-06-26 19:17] Bac3D commented on #35
Latest

[2022-06-26 19:28] Astromations commented on #35
1.1.88 and 2.10.1?

[2022-06-26 19:38] Bac3D commented on #35
![image](https://user-images.githubusercontent.com/91746244/175831010-dd15180d-693f-42c4-9244-3a115e4b776c.png)
![image](https://user-images.githubusercontent.com/91746244/175831018-6725a8ae-d5d2-4b1f-8844-c030dbbbcdfc.png)
I installed spotify with the installer, episodes are missing because i removed them with a snippet.

[2022-06-28 13:22] nimsandu commented on #35
@Bac3D From where you downloaded Spotify (Spotify web or microsoft store)

[2022-06-28 13:33] Astromations opened #36 "Missing "Create-Playlist", "Liked Songs" and "Episodes" icons and some playlist icons are cropped"
I'm on Spotify version 1.1.87.612.gf8d110e2
![image](https://user-images.githubusercontent.com/80211195/176190850-452faa2c-6688-4852-96a5-3e148fb49ab7.png)
and Spicetify version 2.10.1
![image](https://user-images.githubusercontent.com/80211195/176190956-e772acd7-7442-4cac-ace1-8a823f437972.png)

Mising icons:
![image](https://user-images.githubusercontent.com/80211195/176191389-6e53ec48-ce89-4442

[2022-06-28 13:36] Astromations commented on #36
also idk if this is an issue or intended design but the playlist icons in the homepage have visible borders in their corners
![image](https://user-images.githubusercontent.com/80211195/176192389-d30b8d12-552b-433d-aafa-6d34a31f4fcf.png)
![image](https://user-images.githubusercontent.com/80211195/176192428-d0b1d3b4-059e-4234-bf74-ee8f66c93db7.png)

[2022-06-29 12:06] Bac3D commented on #35
I downloaded it from this link: https://www.spotify.com/it/download/windows/
@nimsandu

[2022-06-30 04:41] LarveyOfficial opened #37 "Back button is misaligned"
The previous track button is higher than it should be

![image](https://user-images.githubusercontent.com/39219859/176594278-db0bb354-1b30-4fb9-b920-4cb1b71544b2.png)

![image](https://user-images.githubusercontent.com/39219859/176594302-a210dccb-95f6-40ee-840d-f69647c4d17a.png)

[2022-06-30 04:42] LarveyOfficial opened #38 "Playlist buttons cut in half + no liked songs button icon"
![image](https://user-images.githubusercontent.com/39219859/176594385-acaf3adc-159f-4688-8b3f-8fc334c36789.png)

[2022-06-30 08:15] nimsandu commented on #38
@LarveyOfficial Can you mention following?

-Spotify version
-Spicetify version
-your screen ratio
-and when this exactly started

[2022-06-30 08:16] nimsandu commented on #36
We will fix that asap

[2022-06-30 08:17] nimsandu commented on #35
@Bac3D Alright
Did you installed the theme after toastify installation

[2022-06-30 14:21] Astromations commented on #38
I'm having the exact same issue and i'm on
Spotify version 1.1.88.612.gcc529952
Spicetify version 2.10.2
a 16:9 screen
and I first observed the issue yesterday

[2022-06-30 18:41] LarveyOfficial commented on #38
Sorry about that
Spotify Version 1.1.88.612.gcc529952
Spicetify 2.10.2
and 1920x1080 screen (16:9)

[2022-06-30 18:41] LarveyOfficial commented on #37
P.S
Spotify Version 1.1.88.612.gcc529952
Spicetify 2.10.2
and 1920x1080 screen (16:9)

[2022-06-30 18:54] LarveyOfficial commented on #37
#39 seems to address this

[2022-07-01 06:37] nimsandu commented on #37
Pull request merged

[2022-07-01 06:38] nimsandu commented on #37
Now you might good to go

[2022-07-01 06:38] #37 closed

[2022-07-01 06:39] nimsandu commented on #38
It seems this issue takes place in 16:9 screens

[2022-07-01 10:57] Bac3D commented on #35
yes, I installed the theme after installing toastify

[2022-07-03 18:00] q60 commented on #32
fixed in #40

[2022-07-04 15:10] nimsandu commented on #32
@q60 thanx
Im going to close the issue
@teidesu don't hesitate to open another issue if you find another issue

Thanks everyone

[2022-07-04 15:10] #32 closed

[2022-07-04 15:28] kyrie25 commented on #20
FYI, this problem is not fixable with Spicetify CSS map as it is dynamically generated, no solution for now.

[2022-07-04 15:34] #29 closed, assigned to nobody

[2022-07-04 15:34] #33 closed, assigned to nobody

[2022-07-04 15:34] #36 closed, assigned to nobody

[2022-07-04 15:35] nimsandu commented on #36
@Astromations Bug fixed by @kyrie25

[2022-07-04 15:35] nimsandu commented on #38
Bug fixed by @kyrie25

[2022-07-04 15:36] nimsandu commented on #29
Bug fixed by @kyrie25

[2022-07-04 16:43] LarveyOfficial opened #42 "Liked Songs Icon Still Missing"
Spotify Version : Spotify for Windows 1.1.88.612.gcc529952

Spicetify Version : 2.10.2

Bloom Version : Newest

After a fresh install it seems the newest pull fixed my last issue with the icons being cut in half, although it seems the liked songs icon is still missing.

![image](https://user-images.githubusercontent.com/39219859/177193896-5d10f846-6a93-4ae6-ab83-384f6d14008d.png)

I've also tried

[2022-07-05 01:05] kyrie25 commented on #42
Mb, I forgot to push the new CSS map changes in accordance to the patch I made last night.
It has been done anw (spicetify/spicetify-cli#1809) so try `spicetify restore backup apply` and see the new changes.

[2022-07-05 01:18] LarveyOfficial commented on #42
Works!

[2022-07-05 01:18] #42 closed

[2022-07-05 07:44] nimsandu commented on #20
@HuyHung1408 you get what @kyrie25 says right?
so i'm going to close the issue for now
please open another issue if you find another issue

[2022-07-05 07:44] #20 closed

[2022-07-05 07:45] HuyHung1408 commented on #20
yup, got it thanks

[2022-07-05 08:00] nimsandu commented on #13
@stpnwf  and also we have fixed
"2. Change play button hover color to accent color"
issue too

[2022-07-05 08:01] nimsandu commented on #13
@stpnwf only remaining suggestions are
"1. Option to add folder image like dribbblish"
"1. Toggles are all the same color"

[2022-07-05 16:52] Astromations opened #44 "Playlists with non 1:1 icon images get cropped in the sidebar"
![image](https://user-images.githubusercontent.com/80211195/177377343-bc0bef23-fc15-49a4-8431-532e401116f5.png)

Based on a 16:9 image
![image](https://user-images.githubusercontent.com/80211195/177377682-623ec7a2-841d-4030-b669-a9f4b5659e33.png)

[2022-07-05 18:07] Astromations commented on #44
Separate issue:
![image](https://user-images.githubusercontent.com/80211195/177388896-c4ee8eec-90ce-4193-9dc7-e13949a9df8d.png)
at a certain number of playlists in the sidebar, the playlist lowest down gets cut off. Especially noticeable when you expand folders. This happened to me at about 16 playlists visible ( counting the folders)

[2022-07-05 19:02] l29 opened #45 "Spotify Playlist Bug"
![image](https://user-images.githubusercontent.com/83277314/177396863-0952aeb7-13e8-4749-8f6e-9b7bcd93337d.png)
Newest Spotify, spicetify and theme version
No installed extensions

[2022-07-05 21:07] Astromations commented on #45
Do you have bloom.js installed

[2022-07-06 01:45] nimsandu commented on #45
What is your Spotify version

[2022-07-06 01:47] nimsandu commented on #44
We are currently working on this issue

[2022-07-06 06:59] #45 closed, assigned to nobody

[2022-07-06 18:57] nediaH opened #46 "Enlarged album art issue"
![image](https://user-images.githubusercontent.com/41041630/177622450-965042d7-0e6c-4a53-b681-b9d3d6595d18.png)

When I enlarge the album art, the small album art doesn't disappear, it just moves to the left then stays half clipped off the app.

[2022-07-07 04:23] nimsandu commented on #46
@nediaH I also noticed that one

[2022-07-07 04:24] nimsandu commented on #46
Im trying to fix that

[2022-07-07 23:47] LarveyOfficial opened #49 "Downloading status broken"
Spotify Version: Spotify for Windows 1.1.88.612.gcc529952
Spicetify Version: 2.10.2

When downloading something, both the liked songs icon and the library button break

![image](https://user-images.githubusercontent.com/39219859/177889461-ea9db5fc-7e16-4612-bb15-5a68eb83c9d2.png)

The Liked Songs button stays like this even after downloads are finished:
![image](https://user-images.githubuserconte

[2022-07-08 00:47] My-Name-Is-Adam opened #50 "Suggestion: Make the left sidebar bigger and show the playlist names instead of just the icon"
When you have a lot of playlists it's not easy to identify the playlist by just the icon. It would be good if the sidebar was bigger to enable so we can see the full playlist names.

Great theme by the way.

Thank you.

[2022-07-08 00:51] My-Name-Is-Adam commented on #50
Would also be good if it changed to light/dark mode as per the system. With another theme it changes automatically to the light/dark version but I have to do it manually with this theme.

[2022-07-08 04:50] nimsandu commented on #50
In this case we have to follow windows 11 fluent systems

So we can't make it wider

But if we can expand it on hover or add a hover panel

It might good to protect fluent  theme scheme

[2022-07-08 04:53] nimsandu commented on #49
We can try enhancing it
But i don't have premium 🥲

[2022-07-08 04:53] nimsandu commented on #49
@LarveyOfficial Lets see what we can do

[2022-07-08 04:54] nimsandu commented on #46
@nediaH Issue fixed by @Astromations

[2022-07-08 04:54] #46 closed

[2022-07-08 11:03] nimsandu commented on #49
@Astromations fixed the issue by hiding those elements

[2022-07-08 11:05] nimsandu commented on #49
But in near future we will try to bring them back as well suited progress bar which match with fluent systems and bring additional functionality

[2022-07-08 11:06] nimsandu commented on #49
For now im closing this issue
But don't hesitate to open another issue when ever you want @LarveyOfficial

[2022-07-08 11:07] #49 closed

[2022-07-08 14:37] kyrie25 commented on #44
Do you wish for the background image to be centered or for the entire image to be visible? The latter looks kinda undesirable tbh.
![Uploading image.png…]()

[2022-07-08 16:11] #44 closed

[2022-07-09 03:13] LarveyOfficial opened #54 "How to hide fullscreen button?"
I noticed on the screenshots in the readme there is no fullscreen button.

How can I replicate this as I have a fullscreen button.
Is it a config setting?

[2022-07-09 06:23] nimsandu commented on #54
@LarveyOfficial i have full screen button too on my Spotify
But I installed it using spicetify marketplace
I haven't included that on screenshot because its not a part of pure theme

You can install full screen option via marketplace and even delete it via marketplace

Its not a part of theme

[2022-07-09 06:25] nimsandu commented on #54
@LarveyOfficial Did my explanation clear?
Let me know
Then close the issue
If my answer is awkward don't hesitate to reach me out

[2022-07-09 08:27] nimsandu commented on #54
![image](https://user-images.githubusercontent.com/57834844/178098131-6ef1a7b2-abe6-411e-8fb8-d6fa27549133.png)

[2022-07-09 23:03] LarveyOfficial commented on #54
Ah I understand, I actually want to use a custom fullscreen button I found on the marketplace, how can I remove the default spotify one?

[2022-07-10 07:12] nimsandu commented on #54
@LarveyOfficial Ill tell you if i figure out a way

[2022-07-11 03:23] SupLiCatinG opened #55 "Suggestion: Automatic day/night theme change support."
We can already patch spotify to follow system scheme, while using custom .js why we can't add automatic day/night color scheme switch ?

[2022-07-11 03:28] nimsandu commented on #55
Yeah that will be a great functionality

[2022-07-11 03:30] nimsandu commented on #55
But bloom theme is dark oriented theme, to successfully implement this feature we must enhance light theme first

[2022-07-12 12:31] javalsai opened #56 "BUG: Just the first 80-92 songs being displayed in long playlists"
In long playlists, not all songs are displayed, just the first 80-92 are. The number of them being displayed increases as you scroll, but never surpasses 92. When you scroll it's also buggy and it automatically scrolls up...

I can tell that the display bug is in the stylesheet and the scrolling issue is with the extension, because I tried pasting the css file content in the spotify web version an

[2022-07-12 14:25] #56 closed

[2022-07-12 16:05] javalsai opened #58 "Path not appling correctly with the install script"
I'm using the linux install script and the patch described in the readme isn't applied correctly, leading to a black screen.

Patch Gotten:
[code]

Patch Expected:
[code]

Result:
![image](https://user-images.githubusercontent.com/80113062/178539983-375d2f37-8ece-43c0-b4ae-1629fa8a0cce.png)

[2022-07-12 16:05] javalsai commented on #58
I'll see if I can fix it myself and open a pull request

[2022-07-12 17:17] javalsai commented on #58
@nimsandu  Should be solved with #59, it was just a forgetfulness on #53

[2022-07-12 17:42] javalsai opened #60 "Typo in readme??"
Is this a typo of `</div>`??
https://github.com/nimsandu/spicetify-bloom/blob/74882993ee51eeeaf34157f7600fe0c049d1f0ff/README.md?plain=1#L8

It's causing the whole readme to be inside the [`div`](https://github.com/nimsandu/spicetify-bloom/blob/74882993ee51eeeaf34157f7600fe0c049d1f0ff/README.md?plain=1#L6) and to be centered because of that.

[2022-07-12 21:09] SupLiCatinG commented on #55
Sorry about referencess, Spicetify Default Dynamic theme has this feature, you can take inspire from them. It uses custom .js to switch colors. For Light theme, Fluent theme already has Light orianted color scheme you can use it.

[2022-07-13 01:19] kyrie25 commented on #60
Next time just make a PR lol.

[2022-07-13 01:46] nimsandu commented on #60
oops ig

[2022-07-13 01:48] #60 closed

[2022-07-13 01:50] nimsandu commented on #58
@javalsai yah that was even my fault
im the one who responsible to check before merge
@javalsai  can you work regarding my request on #59

[2022-07-13 03:12] nimsandu commented on #55
Bloom and fluent themes are associated
So we have a light theme too
But we got some bugs on light theme
Im currently working on to fix them
Afterwards ill try to implement this option
@SupLiCatinG

[2022-07-13 09:11] #58 closed

[2022-07-14 05:08] nimsandu commented on #54
@LarveyOfficial Did you find a way to hide the button

[2022-07-15 00:41] LarveyOfficial commented on #54
I have not

[2022-07-15 15:16] nimsandu commented on #54
Not nice

[2022-07-17 22:52] LarveyOfficial commented on #54
I was able to figure out how to hide it,
You need to first install the CSS Injector Extension from the Spicetify Marketplace
Then you need to make a new Snipper which includes the follow CSS code
[code]

[2022-07-17 23:05] LarveyOfficial opened #65 "Sidebar Icon Issues (2 bugs)"
Spotify Version: Spotify for Windows 1.1.89.862.g94554d24

Spicetify Version: 2.10.2

Bloom Version: 69b6542e5c6028ef2724ca4e3c2c622320b76570

First Issue: Downloading/Downloaded status causes Playlist Icons to get wide:
![image](https://user-images.githubusercontent.com/39219859/179428110-e7391262-9915-4aca-ba0a-0e25b4b67b56.png)

Second Issue: Only the "Liked Songs" Playlist behaves as a button,

[2022-07-18 14:36] nimsandu commented on #54
If you are done plz close the issue

[2022-07-18 15:23] #54 closed

[2022-07-24 10:01] #65 closed

[2022-07-24 12:41] nimsandu commented on #35
@Bac3D can you run the powershell script to update the theme and check wether issue still presents

[2022-07-24 18:53] LarveyOfficial commented on #65
This did not get solved, #71 Only fixes the stretching during the playing state not the downloaded/downloading state

[2022-07-24 18:54] LarveyOfficial commented on #65
I will make another issue

[2022-07-24 18:55] LarveyOfficial opened #72 "Stretched Playlist when downloaded/downloading"
This is the same as the first issue in #65

It was stated to be closed due to #71 but that only solves stretching during the playing state not the downloaded/downloading state
![179428110-e7391262-9915-4aca-ba0a-0e25b4b67b56](https://user-images.githubusercontent.com/39219859/180661810-f337ec89-ab09-4eb5-8a4e-9160ae4950a6.png)

[2022-07-24 23:51] MGPlayzYT commented on #72
Whoops, I'll see if I can fix that as well.

[2022-07-25 13:33] nimsandu commented on #72
@MGPlayzYT Check #49 issue and fix @Astromations fixed downloading status broken issue

[2022-07-26 02:55] MGPlayzYT commented on #72
@nimsandu tried that fix, didn't work. the classes for the icon have changed, and I don't know how to force show it.

[2022-07-26 04:06] MGPlayzYT commented on #72
Update: I found it (I think)
@LarveyOfficial try my fix in https://github.com/MGPlayzYT/spicetify-bloom/blob/main/user.css
let me know if it works or not.

[2022-07-27 01:39] nimsandu commented on #72
@LarveyOfficial Can you figure it out?

[2022-07-27 15:32] LarveyOfficial commented on #72
I haven't had the time to properly test it, it would probably be best for someone else to test the issue

[2022-07-28 16:10] Ezzzzyz opened #75 "How to uninstall Bloom>"
I'd like to uninstall bloom but everytime i redownload spicetify the default theme is bloom. It messes up the other themes that I would like to use from the marketplace.
Also instead of downloading from the marketplace I used the command feature from here on powershell.

[2022-07-29 04:45] nimsandu commented on #75
GO TO `C:\Users\<username>\.spicetify\Themes` and delete _bloom_ folder
then open "C:\Users\<username>\.spicetify\config-xpui.ini" via notepad and remove following parts
![image](https://user-images.githubusercontent.com/57834844/181684279-d3411464-a85b-40a3-b989-27c151ffc1ae.png)
then run `spicetfy apply`
after that uninstall spicetify and install spicetfy again
you might good to go

just a one t

[2022-07-31 03:59] nimsandu commented on #75
@Ezzzzyz ???

[2022-08-02 05:43] MGPlayzYT commented on #75
might include an uninstallation guide in the readme soon

[2022-08-03 11:12] nimsandu commented on #75
@MGPlayzYT hmm yap but i never thought someone would uninstall this stunning theme

[2022-08-03 11:12] #75 closed

[2022-08-07 04:10] davimaiaa opened #81 "bugs with play bar and sound bar"
![image](https://user-images.githubusercontent.com/67204261/183274900-0cf78ed3-67a1-4502-bba1-471e48867f28.png)
When listening to songs, the progress bar is compromised, just as the sound bar. You can see that on my printscreen

[2022-08-07 05:38] nimsandu commented on #81
You have moved from fluent theme aren't you

[2022-08-07 05:39] nimsandu commented on #81
Send a screenshot of your xpui file ill tell you what to do

[2022-08-07 12:25] nimsandu commented on #81
@davimaiaa

[2022-08-07 16:29] davimaiaa commented on #81
Yes! I moved from Fluent! As you asked, here's the xpui file screenshot! Btw thanks for the help
![image](https://user-images.githubusercontent.com/67204261/183301082-7ceabb38-6585-4635-aaad-7d23672ade29.png)

[2022-08-08 02:55] davimaiaa commented on #81
@nimsandu

[2022-08-08 03:27] davimaiaa commented on #81
I completely reinstalled spicetify and now it's working! tks for the great theme bro

[2022-08-08 05:15] nimsandu commented on #81
@davimaiaa All right enjoy calm design

If you having any confusions don't hesitate to open another issue

[2022-08-08 05:15] #81 closed

[2022-08-08 08:10] #50 closed

[2022-08-08 08:10] nimsandu commented on #35
@Bac3D ?

[2022-08-08 13:08] AndreasYNY opened #84 "Can't open playlist"
Hello, every time i tried to open playlist / album it just get blocked by current art.
here is a video of it https://streamable.com/p7a5e3

Additional info:

- Spotify version: 1:1.1.84.716-2
- Spicetify version: 2.11.1-1
- OS: Arcolinux

Thanks!
<sub>sorry for the broken english</sub>

[2022-08-08 15:57] kyrie25 commented on #84
Pretty sure this is not a Bloom issue, most likely because you have `comfy.js` (or similar theme extension) added as a residue. Remove any extension that you don't use and try again.

[2022-08-08 16:03] nimsandu commented on #84
@AndreasYNY do you get what @kyrie25 says?

[2022-08-08 16:26] kyrie25 commented on #72
Resolved via #82 @nimsandu

[2022-08-09 10:01] nimsandu commented on #72
@kyrie25 All right

[2022-08-09 15:37] nimsandu commented on #84
@AndreasYNY ❤️
Enjoy the theme

[2022-08-09 15:44] nimsandu commented on #13
@stpnwf today with the merge of #85 by @MGPlayzYT your suggestion to fix all toggles are same color issues has been fixed

We are always getting better and working hard to deliver the best experience to our users

Only thing left is folder image suggestion,but we haven't planned it yet so im closing this issue now as we completed every feature requested by you other than folder image feature

Hope

[2022-08-09 15:44] #13 closed

[2022-08-09 15:45] nimsandu commented on #35
@Bac3D Im closing this issue because its no longer active

But if you still have the issue don't hesitate to open another issue

Enjoy bloom
Thanks

[2022-08-09 15:45] #35 closed

[2022-08-09 17:23] LarveyOfficial commented on #72
mmm seems issue still happens with public playlists
![image](https://user-images.githubusercontent.com/39219859/183717317-af0dd6f2-6059-40dc-8280-62e62170bb83.png)

[2022-08-10 02:11] nimsandu commented on #72
@LarveyOfficial  can you open another issue mentioning public playlists

[2022-08-16 16:37] vathanac opened #92 "Play/pause button glitch in main menu and playlist."
Spotify for Windows
1.1.91.824.g07f1e963

[Main menu](https://i.imgur.com/qBmv3Rh.png)

[Playlist](https://i.imgur.com/GtNOwgy.png)

[2022-08-17 09:14] MGPlayzYT commented on #92
This seems to be more of an issue on your side. Try resetting Spotify back to it's original look. (re-installing is recommended), apply the theme, and see if the issue still persists.

[2022-08-17 09:47] nimsandu commented on #92
It doesn't seems to be @MGPlayzYT issue from his side
Even i started experience this issue today morning after updating Spotify

[2022-08-17 10:43] MGPlayzYT commented on #92
@nimsandu it seems to be because I'm using an older version of Spotify (which is `1.1.91.824`). the latest version is `1.1.92.647`, and that might be the culprit. In the meantime, downgrade your version to `1.1.91.824` till the issue is fixed. (I'll see if I can fix it tomorrow)

[2022-08-17 11:25] nimsandu commented on #92
@MGPlayzYT Thanks friend 🤞

[2022-08-18 02:53] MGPlayzYT commented on #92
Update: seems like I don't know how to fix this issue. I'll leave it up to someone who knows how to fix this. In the meantime, the temporary solution is to downgrade your Spotify version to `1.1.91.824`.

[2022-08-18 14:45] nimsandu commented on #92
@MGPlayzYT Yah even i can't find a perfect way to fix it
So we have to wait for a genius
What about @kyrie25 🙃

[2022-08-18 16:38] kyrie25 commented on #92
Will be resolved via spicetify/spicetify-cli#1875

[2022-08-19 15:17] nimsandu commented on #92
@kyrie25  thanks mr.Genius

[2022-08-19 15:22] nimsandu commented on #92
are we good to close this issue @vathanac ?
the solution for all of us is upgrading spicetify-cli once the latest patch releases
@kyrie25 's pr has been merged to the cli repo, so latest version will be available soon

special thanks to @MGPlayzYT and @kyrie25

@vathanac let me know whether we can close this issue

[2022-08-19 15:26] vathanac commented on #92
thanks for the update!

[2022-08-19 15:26] #92 closed

[2022-08-19 17:04] nimsandu commented on #92
@vathanac if you having any other issue don't hesitate to open another issue
enjoy bloom

[2022-08-21 17:47] afi-dev opened #95 "Non visual play/pause button and duplicate slider-dot and some fix is needed"
Conditions to reproduce :
Spicetify version : 2.11.1
Spotify version : Spotify for Windows 1.1.92.647.ga4397eb7
Spicetify Marketplace installed : Yes

Some features do not work on the css side for the latest version of Spotify version 1.1.92.647.ga4397eb7 and Spicetify version 2.11.1

CSS Hotfix needed :
- Play/Pause svg button did not work (not show but functionnal)
- Slider-dot is duplicate
- Us

[2022-08-22 02:52] MGPlayzYT commented on #95
This is an issue with `spicetify` not working well with the latest Spotify update, which is `1.1.92.647`.

[2022-08-22 05:24] afi-dev commented on #95
Yes but it seems to me right because Specitify have made important changes... So maybe yes but Spotify have recently added new graphical elements to Spotify which could explain why Specitify is bad on certain things, so in the end I don't see what the problem is, it's not up to Specitify to fix the visual problem but you

[2022-08-22 10:37] 2487163254 opened #96 "Cannot install it in ubuntu!"
It said I don't have the directory './Themes/bloom'
Should I run the script in a specific path?
[code]

[2022-08-22 13:31] nimsandu commented on #96
@q60 @kyrie25 could you please pay your attention about this issue
I have no idea about linux
Please, I humbly appreciate every help

[2022-08-22 13:32] kyrie25 commented on #96
Not a Linux user myself, might wanna install the theme manually.

[2022-08-22 13:33] nimsandu commented on #95
We will pay our attention about this @afi-dev this might happening because spicetify css map doesn't match with new Spotify update or else this might our fault

We will work regarding this

[2022-08-22 13:35] nimsandu commented on #96
@kyrie25 Ya he might have to

@Astromations what about you
We need your assistance if you could

[2022-08-22 13:35] kyrie25 commented on #95
The theme is dependent on Spicetify's wrapper functions to execute the extension that's bundled with the theme, for which is broken on Spicetify `2.11.1` and Spotify `1.1.92`, all of this has been patched on the `Dev` version of Spicetify and will be resolved as soon as we push a new release.

[2022-08-22 13:38] nimsandu commented on #95
@afi-dev That is what @MGPlayzYT also talked about hope you will understand

@kyrie25 i really appreciate your deep explanation
Thanks a lot

[2022-08-22 13:41] MGPlayzYT commented on #96
I know the steps on how to install it manually, I'll send the steps here when I'm done listing it.

[2022-08-23 00:50] kyrie25 commented on #95
Resolved via [`Spicetify CLI v2.12.0`](https://github.com/spicetify/spicetify-cli/releases/tag/v2.12.0)

[2022-08-23 05:37] MGPlayzYT commented on #96
## Manual Installation
Step 1: Download the repository by clicking on Code > Download ZIP
Step 2: Navigate to Spicetify's Theme directory. For Linux/Ubuntu it's `~/.config/spicetify/Themes`.
Step 3: Create a new folder called `Bloom`.
Step 3: Open the downloaded theme ZIP file, and extract the following files **highlighted in the screenshot below** to the `Bloom` folder you created.
![image](https

[2022-08-23 06:50] nimsandu commented on #96
@MGPlayzYT Thanks friend
Ill leave this open until you add this to readme
@2487163254 hope you got the answer
Enjoy bloom

[2022-08-23 07:22] 2487163254 commented on #96
Thank u so much! I already installed bloom, but It looks a little different.
![image](https://user-images.githubusercontent.com/71128095/186095164-c3081ed3-1cf4-49ec-a34e-19aaccd52663.png)
I guess may the bloom.js may not working properly.

However, I have installed it. and configed spicetify.
[code]

Here is my config
[code]

[2022-08-23 07:59] MGPlayzYT commented on #96
@2487163254 you seem to be using an older version of Spotify. the latest is `1.1.92.647` as of rn, can you check?

[2022-08-23 08:00] MGPlayzYT commented on #96
@nimsandu i also have improved alot of stuff in the README as well. you can check the preview rn if you'd like!
https://github.com/MGPlayzYT/spicetify-bloom/blob/readme-improvements/README.md

[2022-08-23 08:59] nimsandu commented on #96
That's great @MGPlayzYT create a pr ill merge it
Thanks

[2022-08-23 12:28] nimsandu commented on #96
@2487163254 Share what happened after updating with us

[2022-08-24 06:38] JavaZeroo commented on #96
Sorry, but he said the latest version of spotify is `1.1.92.647`, but I try a lot of way to install spotify (apt install & snap) they told me the latest version is `1.1.84.716.gc5f8b819`
![image](https://user-images.githubusercontent.com/71128095/186348240-95039781-f66e-4bd5-981c-0c2650d9ead1.png)

[2022-08-24 12:00] nimsandu commented on #96
@JavaZeroo what about removing everything (spotify ,spicetify ,bloom  every file) and proceeding steps again by installing spotify latest version

[2022-08-24 12:05] JavaZeroo commented on #96
Actually, I am already give up😂 it is work prefect on my another Windows computer.
Btw Thanks your support

[2022-08-24 12:11] nimsandu commented on #96
@JavaZeroo Sorry for the confusion hope you will enjoy bloom on windows

We (me and all of our contributors) will improve everything soon and will let all the linux users enjoy bloom right at their os

Thanks for being with us

And @kyrie25 @MGPlayzYT , i give my thanks for helping with this issue

[2022-08-24 12:22] JavaZeroo commented on #96
sure😀

[2022-08-25 08:21] nimsandu commented on #95
@afi-dev After updating spicetify do you still having troubles or issues with bloom?

[2022-08-29 08:01] nimsandu commented on #95
@afi-dev Dear user please tell us whether hou still having problems with bloom
We are waiting for your confirmation
We might have to close this issue as an inactive issue if we can't get your confirmation regarding this issue

[2022-08-29 20:46] OxygenEgg commented on #95
I also have the play/pause buton and the fullscreen issues (persistent after updating spicetify)

[2022-08-30 05:03] nimsandu commented on #95
@OxygenEgg Have you updated spicetify
Could you please mention the spicetify version

[2022-08-30 17:16] seyaidev opened #98 "Suggestion: Expanded Cover Art on Left"
Right now, the cover art when expanded appears on the right side of the window, but I would prefer it to be on the left instead. An option to choose would be nice.

[2022-08-30 22:38] HypedDomi opened #99 "Lyrics move Spotify up"
When you open the Lyrics Page (native Spotify Lyrics) and the Song comes to an end, it moves the whole page up
![image](https://user-images.githubusercontent.com/50876016/187555758-501bc950-a19a-4524-a483-c9328ecc2666.png)

[2022-08-31 02:47] OxygenEgg commented on #95
it's 2.12.0

[2022-08-31 02:55] OxygenEgg commented on #95
also the play/pause button sometimes doesn't show up

[2022-08-31 10:49] nimsandu commented on #98
@seyaidev Technically we can do that very easily but practically if we expand it to left playlists and in some resolutions liked,search icons won't be visible
But there aren't that much options to access.
So its hard to move the expand slot to left because above accessible issues

Thanks for your recommendation to make this theme better I really appreciate it
But if you can recommend us a perfect

[2022-08-31 10:50] nimsandu commented on #99
@MGPlayzYT any suggestion regarding this Sir ?

[2022-08-31 10:53] nimsandu commented on #95
@kyrie25 sorry to bother you dude but do you have any recommendations to fix this issue ?

[2022-08-31 11:09] kyrie25 commented on #95
I don't have much free time recently so I can't guarantee anything. Will look into it when I can.

[2022-09-01 07:00] nimsandu commented on #99
@HypedDomi Im out for a while so it will take some time to fix the issue

Please be patient

Thanks for letting us know this problem your suggestion make bloom better

[2022-09-01 10:16] MGPlayzYT commented on #99
I'm not really sure what's causing this but it probably has something to do with Spicetify.

[2022-09-01 10:36] HypedDomi commented on #99
Yeah thats fine. Take your time 👍

[2022-09-02 07:44] MGPlayzYT commented on #99
I'm gonna have to leave this up to someone who knows how to fix this, sorry for the inconvenience.

[2022-09-02 18:37] Sefohui opened #100 "Liked songs and Episodes not showing + Dubble dots on the progressbar and volumebar"
So as the title states I cannot see the "Likes Songs" and "Your Episodes" buttons on the sidebar. They are there just not visible (See picture)

And the sliders for the progressbar and the volumebar is shown two times beneath eachoter. (See picture)

I have done the automatic installation and also checked with the manual to be sure.

My config:
`[Setting]
prefs_path              = C:\Users\kevin\A

[2022-09-03 12:12] nimsandu commented on #100
@Sefohui  your spicetify version is 2.10.2 which is not the latest spicetify version (latest version is 2.12)
update spicetify by running `spicetify upgrade ` after backing up progress run bloom installation script again
`Invoke-WebRequest -UseBasicParsing "https://raw.githubusercontent.com/nimsandu/spicetify-bloom/main/install.ps1" | Invoke-Expression`
it must fix the issue

[2022-09-03 17:15] Georgetheasian commented on #95
Hi, just updated spicetify to 2.13.0 and this issue still seems to be present

[2022-09-03 17:23] wadforth commented on #100
Can confirm on the double bubble issue. Latest version here.

![image](https://user-images.githubusercontent.com/45768489/188281707-8cfe7c08-4c69-4086-87c3-8067fd8f2a64.png)

[2022-09-03 17:25] Sefohui commented on #100
It started working for me after the update aswell. Now. When I loaded back the theme in marketplace to change the color easy the dubble bubble re-appeared. Fixed this by removing it from the marketplace again and changing the color in terminal

[2022-09-03 17:26] wadforth commented on #100
Ah, that did it :P Double bubble fixed!

[2022-09-03 17:34] Sefohui commented on #100
Yeah took me a while to figure that out aswell. Guess it doesn't really like being applied two times lol. Then I guess we can close this now :D

[2022-09-03 17:34] #100 closed

[2022-09-04 05:41] nimsandu commented on #100
@wadforth @Sefohui Thanks for your troubleshooting and finding a proper solution I really appreciate that

If someone get this issue again ill reference this issue so this issue will help lots of bloom family members

If you are having any issues in future don't hesitate to open another issue

Enjoy bloom
Thanks

[2022-09-04 05:43] nimsandu commented on #95
@Georgetheasian if you have installed it using marketplace try installing it using powershell script in the readme.md

[2022-09-04 17:01] Georgetheasian commented on #95
I installed it again using powershell but nothing changed. I will try using marketplace and seeing if that changes anything.

[2022-09-04 17:03] Georgetheasian commented on #95
Marketplace also changed nothing, Im not sure if manual installation will change anything.

[2022-09-05 04:06] nimsandu commented on #95
@Georgetheasian Can you share a screenshot with us

[2022-09-05 04:09] nimsandu commented on #95
Complete uninstall and full reinstallation via script might also help us to determine the problem

[2022-09-06 09:10] afi-dev commented on #95
What did u mean ?

[2022-09-06 14:12] nimsandu commented on #95
which message you talking about ? can you quote it

[2022-09-07 03:15] nimsandu commented on #95
i meant proceeding following steps

`Invoke-WebRequest -UseBasicParsing "https://raw.githubusercontent.com/nimsandu/spicetify-bloom/main/install.ps1" | Invoke-Expression`

**note- you don't have to install spicetify-cli separately before or after running above script**

afterwards can you kindly share your experience with us, so we can fix this issue at ease

[2022-09-07 03:21] Georgetheasian commented on #95
Hello, I have just followed the instructions and it still seems to be an issue. Usually, the play button was there but did not function properly. Other times however, the play button is not there at all when my mouse hovers over.

[2022-09-07 03:22] nimsandu commented on #95
@Georgetheasian Can you share a screenshot

[2022-09-07 03:23] nimsandu commented on #95
The play button everywhere except player is not working and im working on to fix it
If its the problem can you open another issue for that

[2022-09-07 03:24] Georgetheasian commented on #95
As for the instructions, I reset the spotify,  went into the Appdata and local and roaming folders to delete spicetify. After that I used powershell and just pasted the command in.

[2022-09-07 03:24] Georgetheasian commented on #95
Yes sure, for me its just the playlist and daily mixes.

[2022-09-07 03:26] nimsandu commented on #95
Nice please send a screenshot whenever possible for you

[2022-09-07 03:27] Georgetheasian opened #101 "Play button on playlists not working/appearing"
The play button either does not appear or does not work. This issue only appears to be on daily mixes and playlist tiles.

[2022-09-07 03:28] Georgetheasian commented on #101
![image](https://user-images.githubusercontent.com/80559769/188782236-9d5d8560-363a-463b-82c5-659b6f39c27b.png)

![image](https://user-images.githubusercontent.com/80559769/188782312-249c1a61-18e8-461e-89be-e8b9796e42a0.png)

[2022-09-07 03:34] Georgetheasian commented on #95
1.  Restore spotify to original state
![image](https://user-images.githubusercontent.com/80559769/188782496-a38e4195-089d-4a73-80d7-eb7493db280e.png)

2. Delete spicetify files in appdata. Local and roaming
![image](https://user-images.githubusercontent.com/80559769/188782730-24c13c8a-3264-4fe9-808b-62b6beb0f7d7.png)

![image](https://user-images.githubusercontent.com/80559769/188782810-776ce017-d

[2022-09-07 03:34] nimsandu commented on #95
As according to @Georgetheasian screenshot on issue #101 most of ui issues are solved by above steps
Play button issue is a separate issue
I recommend you to get trough above steps and let me know what happens

[2022-09-07 03:36] nimsandu commented on #95
Thanks sir
Ill even include this on readme

[2022-09-07 03:36] nimsandu commented on #95
@afi-dev Hope this will fix the issue

[2022-09-07 04:09] Georgetheasian commented on #95
No problem, its always a pleasure to help. Its an amazing theme and I want to help improve it.

[2022-09-07 04:30] nimsandu commented on #95
@Georgetheasian ❤️
Ill leave this open for a while for others to conform

[2022-09-07 09:38] MGPlayzYT commented on #95
Thanks for making a guide! I'll add this to the README soon.

[2022-09-07 09:39] nimsandu commented on #95
@MGPlayzYT ❤️

[2022-09-11 07:11] nimsandu commented on #98
@seyaidev Looks like you have figured a way to expand the cover from left side

How is the progress?

I would recommend you to optimize this feature to be manually enabled by the user

After that please open a pr so we can take your creation closer to all the bloom lovers

Thanks

[2022-09-13 06:51] nimsandu commented on #101
I have problem while fixing this issue
can someone help? 🙃
I would really appreciate it
![image](https://user-images.githubusercontent.com/57834844/189830494-ca755e74-75e2-452c-bca8-303d626192cc.png)
it became something like this👆🏻

[2022-09-14 18:08] ghost opened #102 "Clicking on playlist jumps playlist slider to top, impossible to double-click to play"
Installation Method: Marketplace
Spotify Version: Spotify for Windows 1.1.93.896.g3ae3b4f3
Spicetify Version: Latest

   1. Scroll down to play playlist lower down on your playlist bar list
   2. Click playlist icon
   3. Try to click it again to play the playlist
   4. You cannot, because the scrollbar jumps up, so you cannot doubleclick to play
   5. Now you must scroll down and then press it ag

[2022-09-14 18:08] DoctorAnon commented on #101
Same issue, literally any button would be good
![4](https://user-images.githubusercontent.com/71120469/190230092-9a4f9a16-27a6-4b78-a95b-c47b4555cf3f.png)

[2022-09-15 04:00] nimsandu commented on #101
@DoctorAnon If you search an artist inside artist page there is the play button just like it suppose to be and then if you go anywhere where once didn't have the play button will now have the perfect play button

I don't know why🥲

[2022-09-15 04:02] nimsandu commented on #102
@DoctorAnon It only happens if you install bloom via marketplace right?

[2022-09-16 20:06] windowz414 opened #103 "[Spotify 1.1.94.870] Design is broken entirely"
I have no idea why and how, but the design is entirely broken on the latest version of Spotify (the one specified in the title).

![image](https://user-images.githubusercontent.com/39265461/190724337-8bcd35a3-8397-4f2d-b2ab-590f4bac00af.png)

[2022-09-17 01:20] foco76 opened #104 "Add Icons for Reddit And New Release Apps"
Add icons for reddit and new release apps or allow to use default app icon instead of replacing all app icons with library icon!
Thank You!
(If you Can Put Normal Like Button And Playlist Images and reduce the player size to uncover sidebar[hard to select playlists player take all the space])

[2022-09-17 04:59] RACECAR69 commented on #101
in my case it appears but does not work
the animation of being clicked plays but it does nothing
![image](https://user-images.githubusercontent.com/71834151/190841246-f49f24b4-94c3-4314-accb-b721623db23f.png)

[2022-09-17 07:21] nimsandu commented on #103
It usually happens with a new Spotify version all the time

Then after spicetify latest release everything become

What is your spicetfy version?

[2022-09-17 07:23] nimsandu commented on #104
@foco76 Thanks for your suggestion
We really appreciate it
We will work regarding this after fixing current issues

[2022-09-17 09:49] windowz414 commented on #103
It in fact got installed when I was installing the theme through its script.

[code]

[2022-09-17 13:38] nimsandu commented on #103
Can you run it again and see what happens

[2022-09-17 13:40] windowz414 commented on #103
Well in fact, I ran it for the 3rd time when taking that screenshot. Even restarted.

[2022-09-17 13:43] nimsandu commented on #103
Oh sorry to hear that
Can you completely remove all spicetify files and restore default Spotify ui and then run the script again
Sorry to bother you

[2022-09-17 13:44] nimsandu commented on #103
[code]

[2022-09-17 13:58] windowz414 commented on #103
Sure thing, I'll try when I'm back home, I'm currently outside.

It's okay, I'm just the user here. Nothing to apologize for. :)

[2022-09-17 14:00] nimsandu commented on #103
@windowz414 a User is a family member for us

[2022-09-17 14:01] windowz414 commented on #103
Aww ;w;

[2022-09-17 15:53] windowz414 commented on #103
Unfortunately that didn't quite work. Still the same thing even after a completely reinstallation of Spotify after removing Spicetify with all its data.

[2022-09-17 15:59] nimsandu commented on #103
Ill look into this issue
And if spicetfy-cli release a new version upgrade spicetfy asap
It fixes the issues
But ill see what I can do

@kyrie25 @MGPlayzYT any suggestions?

[2022-09-17 16:04] windowz414 commented on #103
Thank you so much, good luck! :3

[2022-09-20 01:16] DUCKONAROLL opened #105 "Latest update: top bar and the home button go missing"
old title: Not all lyrics shown as bottom bar blocks it

[2022-09-20 01:20] DUCKONAROLL opened #106 "minor issue: readme's promo picture reads "SPOTIFY THEM" instead of theme"

[2022-09-21 02:02] nimsandu commented on #106
fixed by @sldless

[2022-09-21 02:02] #106 closed

[2022-09-21 02:03] nimsandu commented on #105
can you add a screenshot

[2022-09-21 02:09] nimsandu commented on #103
i dont know why but mine is completely fine even after running the script several times
![image](https://user-images.githubusercontent.com/57834844/191398260-5984630b-d12d-4d88-bcd0-f4cec6b6d32b.png)

[2022-09-21 02:52] DUCKONAROLL commented on #105
latest spotify update actually fixes it but the entire top bar and the home button go missing

[2022-09-21 03:04] windowz414 commented on #103
Now that's weird, I'll retry later today and return back here.

[2022-09-21 03:06] nimsandu commented on #105
can you add a screenshot regarding that issue sir

[2022-09-21 03:08] nimsandu commented on #103
https://github.com/nimsandu/spicetify-bloom/issues/95#issuecomment-1238868804
try these steps

[2022-09-21 03:10] windowz414 commented on #103
Thanks for the ref!

[2022-09-21 20:20] sldless opened #108 "Suggestion: Add the play button back on music cards and playlists"

[2022-09-22 09:55] windowz414 commented on #103
After a whole day of testing and messing around, I FINALLY found the cause of this.

That mess happens when a non-existent custom app and/or resource are/is loaded in Spicetify. I was trying to load to Marketplace but apparently they renamed it to just `marketplace` instead of `spicetify-marketplace`, which is what caused this issue.

I made sure the theme is installed the last just in case resour

[2022-09-24 17:49] OxygenEgg commented on #108
They weren't intentionally removed but are a bug from a spotify update

[2022-09-24 23:33] Georgetheasian commented on #105
@nimsandu I have the same issue, just updated my spotify and it looks like this.

![image](https://user-images.githubusercontent.com/80559769/192122241-e1d93d0a-2335-4740-85e0-35ea20b858c2.png)

[2022-09-26 04:11] Flonky opened #111 "Multiple dots on progress bar"
## Screenshots
![image](https://user-images.githubusercontent.com/64008721/192192129-9eda5e4a-886c-42b3-be9d-d7ad21ad306d.png)

## Description
In the song progress & volume bar, the dots at the end have a second dot below.

[2022-09-26 04:54] nimsandu commented on #111
can you send a screenshot of your xpui file

[2022-09-26 04:55] nimsandu commented on #105
have you tried running the installation script again?

[2022-09-26 04:56] nimsandu commented on #103
❤️

[2022-09-26 05:01] #55 closed

[2022-09-26 05:02] nimsandu commented on #99
@HypedDomi is this issue still presents?

[2022-09-26 05:04] nimsandu commented on #108
regarding
 #101

[2022-09-26 05:16] Flonky commented on #111
I assume you are referring to this one?
![image](https://user-images.githubusercontent.com/64008721/192198807-de2c57e3-9212-4900-badf-3131482e5f50.png)

[2022-09-26 06:39] HypedDomi commented on #99
The last time i checked it was still there

[2022-09-26 16:22] nimsandu commented on #111
@Flonky Yes

You have installed the theme using marketplace

Uninstall the theme from marketplace and run the installation script on the readme

That will fix the issue

[2022-09-26 21:57] Flonky commented on #111
Thanks!

[2022-09-26 21:57] #111 closed

[2022-09-27 04:16] Oosl commented on #105
I have the same issue too and I has tried to reinstall script again, but it was not work.
![image](https://user-images.githubusercontent.com/27420243/192430686-a6dfa1cb-3f36-4679-85b1-e1a39733db91.png)

[2022-09-27 05:14] Georgetheasian commented on #105
Its because of the new default UI for Spotify.
![image](https://user-images.githubusercontent.com/80559769/192437735-bf40ee7e-7541-435b-b974-5252be9fff56.png)

[2022-09-27 13:40] nimsandu commented on #101
Im going to leave #110 pr unmerged for someone to contribute to fix this

[2022-09-29 18:52] mscodepl opened #112 "Black object on screen"
![Zrzut ekranu 2022-09-29 205056](https://user-images.githubusercontent.com/41286754/193117693-10fd6aaf-61fc-4851-9142-c4b96f5f7234.png)

How to remove this object?

[2022-09-30 01:23] Sebasssssss commented on #112
I have the same problem

[2022-10-01 03:48] rawpie2 commented on #112
I also have this problem

[2022-10-01 11:35] GameZrush opened #113 "playlist play button not working (installed from marketplace)"

[2022-10-05 01:37] Novattz opened #114 "friends list text not appearing"
The text to show what my friends names are on spotify does not appear neither what they listen to. I can click on their profile picture and it will play the song the listen to but i can directly see what they listen to. It isnt a big issue just thought i would mention it

example: [https://i.imgur.com/bVgIoEL.png](url)

[2022-10-05 14:43] iDCoded commented on #112
Facing the exact same issue. Waiting for a fix...

[2022-10-06 13:15] OxygenEgg commented on #113
this issue is already acknowledged
#101 and #95

[2022-10-11 06:55] lemonbigbig commented on #16
I also looking a way to sloved that.获取Outlook for Android

[2022-10-15 13:46] nimsandu commented on #105
@Oosl try updating Spotify to Spotify for Windows
1.1.96.785.g464c973a it will fix the issue

[2022-10-15 13:47] nimsandu commented on #112
try updating Spotify to Spotify for Windows
1.1.96.785.g464c973a it will fix the issue
by updating we will have the old spotify ui so the theme will work fine with the latest spotify version

[2022-10-18 06:12] nimsandu commented on #114
this issue should be fixed with the latest spotify version

[2022-10-18 06:13] nimsandu commented on #112
let me know after updating spotify version

[2022-10-18 06:14] nimsandu commented on #105
let me know after updating spotify to the latest version

[2022-10-18 06:19] nimsandu commented on #98
im closing this issue as not planned
@seyaidev but if you could figure out a proper way dont hesitate to let me know by opening another or this issue again

[2022-10-18 06:32] nimsandu commented on #95
@Georgetheasian @MGPlayzYT  and all the participants,
im closing this issue
i added the uninstallation guide to the readme and also i didn't forgot to credit you @Georgetheasian
thanks for everything
together we can make this stunning theme even better

[2022-10-18 06:32] #95 closed

[2022-10-18 06:37] nimsandu commented on #102
fixed in latest versions
if the issue still presents uninstall playlist icon extension from marketplace

[2022-10-18 06:37] #102 closed

[2022-10-18 06:42] nimsandu commented on #103
@windowz414 can i close this issue?
but i would like you to add your solution to the readme troubleshoot section (when adding add this line on the end
## credit [@windowz414](https://github.com/windowz414). for troubleshoot process   )

[2022-10-18 06:48] windowz414 commented on #103
Yep, it's okay to close as it's resolved. I'll ensure to open a PR later today that explains the troubleshooting process in a less technical way.

[2022-10-18 06:52] nimsandu commented on #103
@windowz414 thanks for everything you done
i really appreciate you
and i humbly invite you to stay with bloom and help all our users to experience a better theme
thanks

[2022-10-18 06:52] #103 closed

[2022-10-18 06:54] nimsandu commented on #99
try updating Spotify to the latest version and running the installation script again
it must fix the issue

[2022-10-18 06:54] nimsandu commented on #99
@HypedDomi

[2022-10-18 06:54] windowz414 commented on #103
I shall thank you for all the kindness, support and time thinking you have given during troubleshooting this. I'm just a tinkerer. You're the actual G.O.A.T. ;3

[2022-10-18 06:56] nimsandu commented on #108
closing this issue because an active issue already exists #### #101

[2022-10-18 06:56] #108 closed

[2022-10-18 06:57] nimsandu commented on #113
closing this issue as there is already an active issue regarding this problem
issue #101

[2022-10-18 06:57] #113 closed

[2022-10-18 07:00] nimsandu commented on #103
@windowz414 thanks❤️

[2022-10-18 12:50] windowz414 commented on #103
Thank you! I just tinkered around to find it out. x3

Also it's okay about inactivity, life is more important than anything virtual. /srs

[2022-10-18 18:44] 7evenlxrd opened #116 "Can't click on playlist when is downloaded"
It looks like the download icon on the playlist disturbs the cursor and cannot be clicked, it only works when clicking on the corner of the playlist. Playlists that are not downloaded can be clicked freely

![obraz](https://user-images.githubusercontent.com/49694911/196516615-adf8a3d2-bf2a-4ee3-9659-52d1cdee765a.png)
![obraz](https://user-images.githubusercontent.com/49694911/196516537-1a1004b2-5a

[2022-10-18 18:44] 7evenlxrd commented on #116
I can't make screenshot with cursor.

[2022-10-19 03:45] nimsandu commented on #116
@7evenlxrd what if we move download icon to a corner?
will it work in your opinion

[2022-10-19 10:25] 7evenlxrd commented on #116
It should work better than now sure

[2022-10-19 17:00] leonglo commented on #101
hey @nimsandu
do you  have any ideas on how to fix the play button not working?

[2022-10-19 17:03] windowz414 commented on #101
@leonglo-

Can you send a screenshot from your user interface? Can it be because the interface is borked?

[2022-10-19 17:05] leonglo commented on #101
@windowz414

https://user-images.githubusercontent.com/75845683/196757589-4764d0ef-c978-48d3-bc95-63a0e37c88e7.mp4

[2022-10-19 17:08] windowz414 commented on #101
@leonglo -

Now this one is weird. I'll see if I can reproduce this on my laptop with Windows 10.

[2022-10-20 04:05] nimsandu commented on #101
@leonglo I have no idea cuz sometimes it works but sometimes it's not

Im trying yo figure out why but  nothing worked

[2022-10-20 04:06] nimsandu commented on #101
@windowz414 Thanks mate

[2022-10-20 04:14] leonglo commented on #101
Hopefully we find the reason

[2022-10-20 07:26] windowz414 commented on #101
@nimsandu you're always welcome!

[2022-10-20 09:08] windowz414 commented on #101
@leonglo, I cannot reproduce your issue because there's a worse bug on my side about this.

@nimsandu, the play button doesn't appear on my side at all. Alongside, there seems to be some kind of an internal windows container (Even I have no idea how else to describe this.) borders as well.

![image](https://user-images.githubusercontent.com/39265461/196906751-04632aa4-01d8-41d9-a01a-37d5a2fc3250.p

[2022-10-20 09:18] leonglo commented on #101
Damn!

[2022-10-20 09:25] windowz414 commented on #101
@nimsandu sorry for duplicate ping but I think you're going to want to see this.

I've decided to go through some element inspection using Chrome to see if I can find anything useful. And I *did* find something useful that *might* help you through;

The play button *does* exist but for some odd reason, the vector image doesn't show up. (Missing property? Partial info? The play/pause button of acti

[2022-10-21 03:37] nimsandu commented on #101
@windowz414 Yhah thats what i cant understand too

BTW Update Spotify so you will have old ui for Spotify

[2022-10-23 09:21] windowz414 commented on #101
@nimsandu well, I guess it's time for a rewrite?

Also sure, I'll do so when this Windows update is done. xd

[2022-10-25 03:13] Oosl commented on #105
yes, it has been fixed on Spotify for Windows 1.1.96.785.g464c973a.

[2022-10-25 03:14] nimsandu commented on #101
I guess so

Nice

[2022-10-25 03:17] nimsandu commented on #105
@Oosl Glad to hear that
Enjoy bloom

Please Don't hesitate to let us know if there is any other problem

Can we close this issue now?

[2022-10-25 03:22] Oosl commented on #105
@nimsandu no any other problems now. I think this issue can be closed and thanks for your work.

[2022-10-26 03:20] lemonbigbig commented on #99
![image](https://user-images.githubusercontent.com/42226640/197926701-419ad5da-c75a-49bb-b089-a5a4a513f067.png)
The fix is not that good

[2022-10-26 07:18] HypedDomi commented on #99
Sadly, I still have the issue. But yeah, I can live with that. It goes back when a new Song starts and only happens in the last 10 Seconds

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/50876016/197959906-67ad99d4-9af6-4fad-b580-4717affbba29.png">

[2022-10-26 09:56] nimsandu commented on #99
Sorry for the situation ill try something to fix that I really apologize you both for this problem

Until I figure out a way to correct this issue I recommend you both to use spicetify lyric plugin for a better experience (this is not a fix, this is just a recommendation as a temporary solution)

[2022-10-26 09:57] nimsandu commented on #105
thanks you both  @Oosl @DUCKONAROLL  and everyone who participated

Enjoy bloom

[2022-10-26 09:57] #105 closed

[2022-10-27 17:03] Novattz commented on #114
still not fixed.

[2022-10-27 17:07] Novattz commented on #114
okay so i figured out something weird. When i logged out of my account and logged into my other account on spotify it works just fine. But when i logged back in on the account i reported the issue on the text still does not appear.

[2022-10-30 02:16] DeJayDev commented on #114
I'm seeing the same problem with

Spotify for Windows
1.1.97.962.g24733a46
Spicetify v2.14.1
Theme: Bloom / dark
Extensions: bloom.js
Custom apps: marketplace
![image](https://user-images.githubusercontent.com/19671604/198859476-8f459fdc-b749-4b0f-95f7-e31c6e7eb2e2.png)

[2022-11-02 12:30] Kordex1337 opened #117 "dark theme doesn't apply"
it doesn't apply, i did everything by instruction

[2022-11-03 05:16] nimsandu commented on #117
are you using marketplace version @Kordex1337 ?

[2022-11-03 05:19] nimsandu commented on #117
just run this script it will apply the dark scheme and it will fix anything which is wrong with theme

before proceeding remove bloom through marketplace if you are using marketplace version

 ### Windows (Powershell)

[code]

[2022-11-04 10:31] windowz414 opened #119 "Linux installation script doesn't check if Spicetify is installed or not"
This will most probably be a big headache as the installation script would run all the commands blindly without knowing if Spicetify is installed or not, eventually failing.

I'll be opening a new PR regarding this to work around this. My implementation will be doing a check before running anything and, if Spicetify isn't installed, eventually return stop the script right away. This will also redu

[2022-11-04 10:36] windowz414 opened #121 "Linux: Illegal option for command `read`"
The script is invoked with `sh`, which doesn't understand all commands `bash` does. Migration to `bash` will be better since it can understand more extended options than `sh`.

[code]

I'll open a PR regarding this too.

[2022-11-04 10:39] nimsandu commented on #119
also fixed  by @windowz414 trough #120

[2022-11-04 10:39] #119 closed

[2022-11-04 10:41] windowz414 commented on #119
I'm in a PR spree before classes for real. xD

[2022-11-04 10:42] windowz414 commented on #121
PR has been merged in. Closing.

[2022-11-04 10:42] #121 closed

[2022-11-04 10:43] nimsandu commented on #119
🙂

[2022-11-04 10:43] nimsandu commented on #121
@windowz414 ❤️

[2022-11-04 10:48] windowz414 opened #123 "Spicetify changes don't get applied in the last before installation ends."
Spicetify doesn't apply your changes before having it backed up for the first installation, leaving us with this message instead;
[code]

Instead of making the user run this, I'll open a PR that will automatically run this in case of failure to run last command and finish up that way.

[2022-11-04 10:51] nimsandu commented on #123
wow you are going to place a new world record ig

[2022-11-04 10:52] nimsandu commented on #123
one thing what happened to your twitter account? @windowz414

[2022-11-04 10:55] windowz414 commented on #123
I just renamed it entirely on a new username, nothing special happened.

[2022-11-04 10:58] nimsandu commented on #123
oh sorry i got confused 🫠

[2022-11-04 11:00] windowz414 commented on #123
It's okay, I just DMed on Twitter as well xddd

[2022-11-04 11:01] windowz414 commented on #123
PR merged. Closing.

[2022-11-04 11:01] #123 closed

[2022-11-04 11:02] nimsandu commented on #123
thanks for the issue as well as the fix @windowz414

[2022-11-04 11:08] windowz414 opened #125 "[Question] Should we attempt to fix something little Spotify derped for Linux installations along the way on Debian?"
See https://community.spotify.com/t5/Desktop-Linux/The-app-crashes-on-Debian-due-to-HW-acceleration/td-p/5049188

Although Spotify does work properly on all other Linux installations, it returns this error specifically on Debian, which might confuse an end-user who might not think of running Spotify from Terminal.

[code]

The solution, as suggested in the Spotify Community post I appended on this

[2022-11-04 11:14] nimsandu commented on #125
what if we create a whole new script specially created for Debian and include the script and description in readme?

[2022-11-04 11:17] windowz414 commented on #125
Would also work, I just didn't want to hassle with multiple scripts as what we're doing is practically the same on all distros.

[2022-11-04 11:23] nimsandu commented on #125
we can include it on a collapsed list which says (special script for Debian users) so normal users won't get confused in my point of view because this is going to be a extra functionality for specific set of users who uses Debian

[2022-11-04 11:36] windowz414 commented on #125
Oh now that's a good solution. I'm already working on it! :P

[2022-11-04 11:59] windowz414 opened #126 "Linux: (Re?)Installations for existing Spicetify installations might also fail after first install"
During the testing of my prototype implementation of #125, I noticed that the installation still fails asking us to do `spicetify restore backup` this time. I have no idea why is it this complicated, but let's try that way this time.

Output produced for this issue;
[code]

Along the way, I also got this which I assume is happening because we `bash` interprets `stdin` as set of commands instead of

[2022-11-04 12:25] windowz414 commented on #123
Any time!

[2022-11-04 14:33] windowz414 commented on #126
Issue fixed, PR closed.

[2022-11-04 14:33] #126 closed

[2022-11-04 15:30] windowz414 commented on #125
PR merged. Issue closed.

[2022-11-04 15:30] #125 closed

[2022-11-25 22:32] HubCode07 opened #129 "The volume and music time sliders not appearing properly"
For some reason, when I installed this theme the sliders had a duplicated circle (or slider dot). It is not especially annoying but looks really unappealing when using the slider to move around the music.

Things to note:

- Running the latest version of Spotify/spicetify (spicetify 2.14.3)
- Installed this theme yesterday
-
![image](https://user-images.githubusercontent.com/105132635/204060483-84

[2022-11-25 22:44] windowz414 commented on #129
Can't reproduce the issue. Works all fine OOB on my end.

[2022-11-27 18:33] GastonKhouri opened #130 "The sound icon appears over the liked sounds icon"
The sound icon appears on top of the liked sounds icon.

To reproduce the error, just play a song in the liked sounds list.

![image](https://user-images.githubusercontent.com/68894611/204153231-347275c0-a646-421d-8d5c-8050f0a46cec.png)

[2022-11-28 03:09] windowz414 commented on #130
*What in tarnation*

[2022-11-28 03:44] nimsandu commented on #129
@HubCode07 it usually happens when you moved from fluent spicetify to bloom spicetify

Send us a screenshot of your xpui.js file

We will let you know how to fix it by yourself
(Note: this happens when you haven't properly uninstalled previous versions of bloom or spicetify-fluent or else when you apply the theme wrong)

[2022-11-28 03:47] nimsandu commented on #130
Well @GastonKhouri it suppose to be a now playing liked songs playlist (when you click it song will pause) (its a functionality not a bug)but we will replace that volume icon with a pause icon in near future
And thank you for reaching out bloom-community

[2022-11-28 16:25] mscodepl commented on #112
Repaired :)

[2022-11-30 16:44] ryanmoz commented on #129
I had this issue. Very easy to fix. I had previous installed Fluent and the Fluent.js was still in the config even after uninstalling. Just remove that as well as deleting the fluent folder from your Themes folder. Make sure you have

**[Patch]
xpui.js_find_8008 = ,(\w+=)32,
xpui.js_repl_8008 = ,${1}56,**

This fixed everything for me.

[2022-11-30 16:46] nimsandu commented on #112
Closing issue as fixed
@mscodepl and everyone
Thanks for reaching out
Enjoy bloom
And don't hesitate to open another issue if you have any other problem

[2022-11-30 16:46] #112 closed

[2022-11-30 16:50] nimsandu commented on #129
@ryanmoz Thanks it is the solution

We will wait for @HubCode07 to conform its fixed

Anyways thanks for your solution @ryanmoz
And also a special thanks to @windowz414  for quick response for this issue

You make bloom better!

[2022-11-30 23:41] HubCode07 commented on #129
[AdditionalOptions]
home_config           = 1
experimental_features = 1
extensions            = fluent.js|bloom.js
custom_apps           = marketplace
sidebar_config        = 1

[Patch]
xpui.js_find_8008 = ,(\w+=)32,
xpui.js_repl_8008 = ,${1}56,

[Setting]
inject_css              = 1
replace_colors          = 1
overwrite_assets        = 1
check_spicetify_upgrade = 0
spotify_path            = C:\Us

[2022-11-30 23:45] HubCode07 commented on #129
[AdditionalOptions]
home_config           = 1
experimental_features = 1
extensions            = fluent.js|bloom.js
custom_apps           = marketplace
sidebar_config        = 1

[Patch]
xpui.js_find_8008 = ,(\w+=)32,
xpui.js_repl_8008 = ,${1}56,

[Setting]
inject_css              = 1
replace_colors          = 1
overwrite_assets        = 1
check_spicetify_upgrade = 0
spotify_path            = C:\Us